*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-principal{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 1rem 20rem;
    background-color: #5c5c5c;
}

.nav-link{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.nav-link:hover{
    color: #ff6600;
    transform: scale(1.1);
    text-decoration: underline;
}

h1{
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
}

p{
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    margin-left: 30px;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 4rem;
}

button{
    display: block;
    margin: 0 auto;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
